{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <style>
      
      body {
        background-color: #92a8d1;
      }
     

      
      </style>
      
  <title>Resume builder</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'blog/resume.css' }"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <link rel="stylesheet" href="{% static 'css/resume.css' %}">
</head>
<body>

  


<div class="container" class="border">
  <div class='synopsis'>
{% block content %} {% endblock %}
</div>
</div>
<!-- Footer -->
<div class="footer">
    <p>&copy; 2020  By Dhiraj</p>
  </div>

<!-- Footer end -->
</body>
</html>

